#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "/tmp/mpd_socket",
    cache_dir: Some("/tmp/rmpc/cache"),
    theme: Some("default"),
    volume_step: 5,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    album_art: (
        method: Auto,
        max_size_px: (width: 300, height: 300),
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "c":       ToggleSingle,
            "L":       NextTab,
            "H":       PreviousTab,
            "q":       Quit,
            "x":       ToggleRandom,
            "<C-n>":   NextTrack,
            "<C-p>":   PreviousTrack,
            "f":       SeekForward,
            "v":       ToggleConsume,
            "p":       TogglePause,
            "z":       ToggleRepeat,
            "b":       SeekBack,
            "?":       ShowHelp,
            "O":       ShowOutputs,
        },
        navigation: {
            "<C-u>":   UpHalf,
            "N":       PreviousResult,
            "a":       Add,
            "n":       NextResult,
            "g":       Top,
            "<Space>": Select,
            "G":       Bottom,
            "h":       Left,
            "<CR>":    Confirm,
            "i":       FocusInput,
            "J":       MoveDown,
            "j":       Down,
            "<C-d>":   DownHalf,
            "/":       EnterSearch,
            "<Esc>":   Close,
            "K":       MoveUp,
            "l":       Right,
            "D":       Delete,
            "k":       Up,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
        },
    ),
)
